.feed-card {
  width: 90%;
  max-width: 710px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 2%;
  background: white;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.feed-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.username {
  font-weight: bold;
  margin-right: auto;
}

.feed-card-image {
  width: 100%;
  height: auto;
}

.feed-card-body {
  padding: 3% 4% 3% 4%;
}

.feed-card-description {
  margin: 0 0 1% 0;
  font-size: 0.8em;
  color: rgb(58, 58, 58);
  text-align: left;
}

.engagement {
  display: flex;
  margin-bottom: 5px;
  font-size: 0.95em;
}

.likes {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.heart {
  size: 23;
  margin-right: 0.2rem;
}

.comments {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.bubble {
  size: 20;
  margin-right: 0.2rem;
}

.feed-card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1% 0;
}

.timestamp {
  font-size: 0.8em;
  color: gray;
}

.location {
  font-size: 0.9em;
  color: gray;
  text-align: right;
}