html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.landing-page {
    position: relative;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.content-overlay {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}

.content-container {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    padding: 2rem;
    margin: 0 auto;
}

.heading-container {
    color: white;
    text-align: center;
    padding: 5px 0;
}

.heading-text {
    color: white;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
    width: 95%;
}

.logo-image {
    max-width: 200px;
    height: auto;
    margin: 0 auto;
    display: block;
}

.button {
    background-color: white;
    padding: 12px 30px;
    border-radius: 25px;
    color: black;
    font-size: 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    width: 75%;
    max-width: 250px;
}

a {
    color: white;
    text-decoration: underline;
    font-size: larger;
}